In [3]:
import pandas as pd
import numpy as np


# datatype int,float,obj
# int+float=float
# any string = obj
# any int=int

In [6]:
# series in pandas
l=['fsd','python','coa','dm','toc']
series=pd.Series(l,index=[10,20,30,40,50],name="score")
print(series)

10       fsd
20    python
30       coa
40        dm
50       toc
Name: score, dtype: object

In [9]:
# dataframe in pandas
marks={'fsd':97,'python':78,'DM':80,'DS':95}

marks_ser=pd.Series(marks,name='score',index=['x','DS','z'])
print(marks_ser)
print(type(marks_ser))

x      NaN
DS    95.0
z      NaN
Name: score, dtype: float64
<class 'pandas.core.series.Series'>

In [17]:
cgpa=pd.read_csv("Book1.csv")
print(cgpa)
# dataframe csv read dataframe 
print(type(cgpa))

   cgpa
0   6.3
1   9.6
2   6.3
3   8.6
4   9.9
5   9.5
6   7.9
<class 'pandas.core.frame.DataFrame'>

In [18]:
# convert into series
# back cgpa is column name and first is var name
# NAN datatype is float
new=cgpa['cgpa']
print(new)
print(type(new))

0    6.3
1    9.6
2    6.3
3    8.6
4    9.9
5    9.5
6    7.9
Name: cgpa, dtype: float64
<class 'pandas.core.series.Series'>

In [22]:
# dataframe 
data=[[100,80,15],[60,70,17],[120,80,14],[80,50,20]]
df=pd.DataFrame(data,columns=['iq','marks','package'])
print(df)
print(type(df))

    iq  marks  package
0  100     80       15
1   60     70       17
2  120     80       14
3   80     50       20
<class 'pandas.core.frame.DataFrame'>

In [24]:
d={'name':['a','b','c','d'],
  'iq':[100,50,40,50],
  'marks':[80,80,70,90],
  'package':[80,40,50,40]}
cse=pd.DataFrame(d)
print(cse)

  name   iq  marks  package
0    a  100     80       80
1    b   50     80       40
2    c   40     70       50
3    d   50     90       40

In [25]:
cse.set_index('name',inplace=True)

In [26]:
print(cse)

       iq  marks  package
name
a     100     80       80
b      50     80       40
c      40     70       50
d      50     90       40

In [33]:
movie=pd.read_csv('movie.csv')
# print(df)
director=movie["director_name"]
print(director)
print(type(director))

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object
<class 'pandas.core.series.Series'>

In [42]:
print(movie.T)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [40]:
print(movie.columns)
print("dataframe=2, or  series=1",movie.ndim)

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')
dataframe=2, or  series=1 2

In [41]:
print(movie.dtypes)

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [45]:
print(movie.shape)
print(movie.size)
print(movie.index)

(4916, 28)
137648
RangeIndex(start=0, stop=4916, step=1)

In [53]:
df=pd.DataFrame({'A':[]})
print(df)
print(df.empty)

Empty DataFrame
Columns: [A]
Index: []
True

In [54]:
df=pd.DataFrame({'A':[np.nan]})
print(df)
print(df.empty)

    A
0 NaN
False

In [57]:
print(movie.values)

[['Color' 'James Cameron' 723.0 ... 7.9 1.78 33000]
 ['Color' 'Gore Verbinski' 302.0 ... 7.1 2.35 0]
 ['Color' 'Sam Mendes' 602.0 ... 6.8 2.35 85000]
 ...
 ['Color' 'Benjamin Roberds' 13.0 ... 6.3 nan 16]
 ['Color' 'Daniel Hsia' 14.0 ... 6.3 2.35 660]
 ['Color' 'Jon Gunn' 43.0 ... 6.6 1.85 456]]

In [63]:
# at,iat,iloc,loc
df=pd.DataFrame([[0,2,3],[0,4,1],[10,20,30]],index=[4,5,6],columns=['A','B','C'])
df

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30

In [69]:
print(df.at[5,'B'])

4

In [70]:
df.at[5,'B']=10

In [71]:
df

    A   B   C
4   0   2   3
5   0  10   1
6  10  20  30

In [84]:
print(movie.at[5,"director_name"])

Andrew Stanton

In [75]:
print(df.iat[1,2])

1

In [76]:
print(movie.iat[5,5])

530.0

In [77]:
print(movie.iat[4,5])

nan

In [83]:
print(movie.iat[4,6])

Rob Walker

In [85]:
print(df.iloc[0])

A    0
B    2
C    3
Name: 4, dtype: int64

In [90]:
print(df.iloc[[0,1],[1,2]])

    B  C
4   2  3
5  10  1

In [94]:
print(df.iloc[[True,False,True]])
df

    A   B   C
4   0   2   3
6  10  20  30

    A   B   C
4   0   2   3
5   0  10   1
6  10  20  30

In [93]:
print(df.iloc[1:3,0:3])

    A   B   C
5   0  10   1
6  10  20  30

In [96]:
print(df.iloc[:,[True,False,False]])

    A
4   0
5   0
6  10

In [97]:
print(movie.iloc[0:15:3,0:5])

    color      director_name  num_critic_for_reviews  duration  \
0   Color      James Cameron                   723.0     178.0
3   Color  Christopher Nolan                   813.0     164.0
6   Color          Sam Raimi                   392.0     156.0
9   Color        David Yates                   375.0     153.0
12  Color       Marc Forster                   403.0     106.0

    director_facebook_likes
0                       0.0
3                   22000.0
6                       0.0
9                     282.0
12                    395.0

In [99]:
print(movie.loc[[3],['director_name']])

       director_name
3  Christopher Nolan

In [101]:
df=pd.DataFrame([[1,2],[4,5],[7,8]],index=["cobra","viper","sideinder"],columns=['max_speed','shield'])
df

           max_speed  shield
cobra              1       2
viper              4       5
sideinder          7       8

In [105]:
print(df.loc['cobra':'viper','max_speed'])

cobra    1
viper    4
Name: max_speed, dtype: int64